*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}
.main{
    background-color: white;
}
.fb{
    width:301.06px;
    height:106px;
    margin: 28px;
}
.m1{
    position:relative;
    display:grid;
    grid-template-columns: 20% 40% 25% 15%;
    grid-template-rows: 20% 50% 30%;
    width: 100%;
    height: 750px;
    background-color: #F0F2F5;
    
}
.s1{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end:3;
    width: 100%;
    height: 100%;
    top: 100px;
}
.s2{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end:3;
    background-color: white;
    width: 100%;
    height: 100%;
    top:100px;
    border-style: groove;
    box-shadow: 10px;
}
.y1{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end:4;
    font-size: small;
    position:relative;
    left:30px;

}
.y1 .cc{
    text-decoration: none;
    color:black;
    font-weight: bold;
}
.s2{
    display:flexbox;
    padding:30px;
    border-radius: 10px 10px 10px 10px;
}
.e1, .e2{
    display:flex;
    position:relative;
    background-color: white;
    color: black;
    top: 10px;
    width: 320px;
    height:45px;
    padding:10px;
    border-radius: 5px 5px 5px 5px;
}
.b1{
    display:flex;
    position:relative;
    background-color: #1877F2;
    color: white;
    top: 15px;
    width: 320px;
    height: 45px;
    padding-left:130px;
    padding-right:80px;
    padding-top: 10px;
    font-size: large;
    border-radius: 5px 5px 5px 5px;
}
.i1{
    position:relative;
    top:18px;
    color:#1877F2;
    font-size: large;
    width: 320px;
    height: 45px;
    text-align: center;
    padding-top: 4px;
    border-radius: 5px 5px 5px 5px;
}
.i1 a{
    text-decoration: none;
}
.z1{
    position:relative;
    left:70px;
    top: 15px;
    background-color: #42B72A;
    color:white;
    width:200px;
    height:45px;
    padding:10px;
    padding-left: 12px;
    font-size:large;
    border-radius: 5px 5px 5px 5px;
}
.z1 a{
    text-decoration: none;
    color: white;
}
#pageFooter{
    position:relative;
    left:100px;
    display:flexbox;
}
.ask{
    display:flex;
    list-style-type: none;
    justify-content: space-evenly;
    position:relative;
    width: 50%;
    top:10px;
}
.ask, .b4{
    color:grey;
    text-decoration: none;
    font-size: small;
}
#footerchild{
    position:relative;
    left:100px;
    display:flexbox;
}
.b12{
    display:flex;
    list-style-type: none;
    justify-content: space-evenly;
    position:relative;
    width: 75%;
    top:10px;
    flex-wrap:wrap;
}
.b12, .b13{
    color:grey;
    text-decoration: none;
    font-size: small;
}
.copy{

}